@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./landing-regular.woff2") format("woff2"),
    url("./landing-regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./landing-light.woff2") format("woff2"),
    url("./landing-light.woff") format("woff");
}

.prices tr:nth-child(odd) {
  background-color: rgba(245, 245, 225, 1);
}

.prices td {
  padding: 0.75rem 1rem;
}

.prices td:nth-child(odd) {
  max-width: 20rem;
}

.prices td:nth-child(even) {
  text-align: right;
}
